.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: rgb(41, 14, 92);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color: white;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: rgb(243, 203, 92) ;
  border-radius: 0px;
  color:floralwhite;
  height: 350px;
  background-image: url("/assets/images/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: rgb(245, 176, 49);
}

.nav-link-name{
  color: black;
}

.home_content1{
  border: 1px solid red;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 60px 30px 20px 30px;
  height: 250px;
  background-size: cover;
  background-image: url("/assets/images/HomeAyurvedic.jpg");
}

.home_content2{
  border: 1px solid red;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 60px 30px 20px 30px;
  height: 250px;
  background-size: cover;
  background-image: url("/assets/images/HomeYoga.jpg");
}

body{
  background-color: rgb(250, 223, 135);
}

.btn-social-icon {
  margin-right: 20px;
  margin-bottom: 20px;
}

.card_header{
  font-size: 30px;
  font-weight: bold;
}

.usesHeader{
  font-size: 20px;
  font-weight: bold;
}

.text_shr{
  text-align: center;
  font-weight: bold;
}